body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}
.tableForms{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: -20px;
    margin-left: 400px;
}
.buttonForms{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 27px;
    margin-right: 400px;
}
#texts{
    width: 260px;
    height: 41px;
}
.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.button1{
    display: block;
    cursor: pointer;
    background-color: rgb(64, 64, 255);
    color: white;
    border: 20px solid rgb(64, 64, 255);
    border-radius: 10px;
    height: 52px;
}
.button2{
    display: block;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 20px solid rgb(255, 0, 0);
    border-radius: 10px;
    height: 52px;
}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.block{
    display: block;
    border: 1px solid gray;
    width: 200px;
    height: 100px;
    margin-left: 406px;
}
.block p{
    text-align: center;
}
.date{
    padding-bottom: 10px;
}   
