body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form{
    display: flex;
    justify-content: space-evenly;
    gap: 32px;
}
#price{
   width: 232px;
   height: 32px;
   border: 1px solid rgb(172, 147, 235);
}
#month{
    width: 232px;
   height: 32px;
   border: 1px solid rgb(172, 147, 235);
}
#percent{
    width: 232px;
   height: 32px;
   border: 1px solid rgb(172, 147, 235);
}
.tableForms{
    display: flex;
    justify-content: flex-start;
    gap: 32px;
    margin-top: -20px;
    margin-left: 400px;
}
.buttonForms{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 27px;
    margin-right: 400px;
}
.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.button1{
    display: block;
    cursor: pointer;
    background-color: rgb(5, 5, 250);
    color: white;
    border: 15px solid rgb(5, 5, 250);
    border-radius: 10px;
    height: 44px;
}
.button1:hover{
    opacity: 0.7;
}
.button2{
    display: block;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: white;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 10px;
    height: 44px;
}
.button2:hover{
    opacity: 0.7;
}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.wrapper{
    display: flex;
    margin-left: 270px;
    width: 1060px;
    flex-wrap: wrap;
}
.container{ 
    width: 80%;
 }
